html{
  background: #282d33;
  color: white;
  font-family: sans-serif;
}
*{
  margin: 0;
  padding: 0;
}


.title{
  color: #ffd400;
  font-size: 3.5rem;
  text-align: center;
  padding: 30px;
}

.score{
  font-size: 1.3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  border-bottom: 1px solid #b2b2b2;
  width: 107px;
}
.score span{
  text-align: right;
  position: absolute;
  right: 10px;
}

canvas{
  display: block;
  margin: 0 auto;
  background: #181f35;
}

#dead-pop{
  text-align: center;
  width: 608px;
  height: 544px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(48,48,48, 0.3);
  z-index: 2;
  top: -544px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#dead-message{
  font-size: 1.3rem;
  margin-bottom: 30px;
}
#dead-message span{
  color:#ffd400;
  font-size: 1.7rem;
}

button{
  font-size: 1rem;
  width: 100px;
  height: 40px;
  background: #c47135;
  color: white;
  border: none;
}
